    .MainSlide {
    position: relative;
    padding: 0 0 0;

    .slick-track {
        transition-duration: 0.5ms;
    }


    .itm {
        position: relative;
        height: 700px;
        color: #333;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &.itm01 {
            background-image: url(../../public/assets/images/main_01.png);
        }
        &.itm02 {
            background-image: url(../../public/assets/images/main_02.png);
        }
        &.itm03 {
            background-image: url(../../public/assets/images/main_03.png);
        }
        &.itm04 {
            background-image: url(../../public/assets/images/main_04.png);
        }
        &.itm05 {
            background-image: url(../../public/assets/images/main_05.png);
        }

        .inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            word-break: keep-all;
            white-space: pre-line;

            strong {
                display: block;
                margin: 0 0 23px 0;
                font-size: 49px;
                font-weight: 700;
                line-height: 65px;

            }

            p {
                margin: 0 0 2rem 0;
                font-size: 18px;                
                line-height: 30px;
            }
            a{  
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                border: 1px solid #000;
                padding: 10px 20px;
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 50px;
        left: 27%;
        transform: translate(-50%,-50%);
        text-align: center;
        z-index: 999;

        li {
            display: inline-block;
            margin: 0 0.5rem;

            button {
                width: 10px;
                height: 10px;                      
                border-radius: 50%;
                background:rgb(197, 196, 196);
                font-size: 0;
                border: none;
                outline: none;
                transition: 0.5s;
            }

            &.slick-active button {                
                width: 25px;
                height: 10px;                
                border-radius: 10px;
                background:#f0e76c;
            }
        }
    }

    .arrow{
        position: absolute;
        bottom: 45px;
        left: 27%;
        transform: translate(-50%,-50%);
        color: #555;
        

        .left {
            margin: 0 0 0 0;
        }

        .right {
            margin: 0 0 0 150px;
        }
    }
}
