.Sub02{
    h3{
        font-size: 25px;
        margin-bottom: 30px;
        &::before{
            content: "";
            display: inline-block;
            top: 0;
            left: 0;
            width: 4px;
            height: 21px;
            background: rgb(49,60,74);
            margin-right: 9px;
            vertical-align: -2px;
        }
    }
    table,
    th,
    td{
        text-align: center;
        border: 1px solid #fff;
        padding: 10px;
        border-collapse: collapse;
        border: 1px solid #ddd;
    }
    th{
        font-size: 17px;
        font-weight: 600;
        background: #f7f7f7;
    }
    td{
        font-size: 15px;
        font-weight: 500;
    }
    .credit{
        margin-bottom: 50px;
    }
}